@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~antd/dist/antd.css';
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import '~react-toastify/scss/main';
@import "~react-owl-carousel2/src/owl.carousel.css";

//======================INCLUDE WEB FONTS===========================
@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Light.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Semibold.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Heavy';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Heavy.otf") format("truetype");
}

@font-face {
  font-family: 'SF-Pro-Display-Black';
  src: url("/assets/fonts/sf-pro/SF-Pro-Display-Black.otf") format("truetype");
}

//========================VARIABLES===================================
$back_grey: #ededed;
$warning: #E9E011;
$black: #2F2F2F;
$grey: #898989;
$red: #D0021B;
$green: #1DD1A1;
$orange: #FFC02E;
$blue: #0085FF;
//================EXTANDS ===============================================
@mixin transition($props,$times,$function) {
  transition: $props $times $function;
  -webkit-transition: $props $times $function;
  -moz-transition: $props $times $function;
  -o-transition: $props $times $function;
}

@mixin shadow($x,$y,$alpha,$color) {
  box-shadow: $x $y $alpha $color;
  -webkit-box-shadow: $x $y $alpha $color;
  -moz-box-shadow: $x $y $alpha $color;
  -o-box-shadow: $x $y $alpha $color;
}

//------------------------------ Media home page begin ----------------------------
@media (min-width: 300px) and (max-width: 768px) {

  .mf-navbar {
    padding: 7px;
  }
  .mf-footer .navbar .nav-item {
    margin-top: 0 !important;
  }

  .video-card:nth-child(1), .video-card:nth-child(2) {
    margin-top: 15px;
  }
  .video-card:nth-child(3), .video-card:nth-child(4) {
    margin-top: 15px !important;
  }
  .mf-footer {
    bottom: -100px !important;

  }
  .navbar-nav {
    text-align: center;
  }

  .register-media {
    margin-left: 2% !important;
  }
  .media-anons {
    padding: 13px 13px !important;
  }

  .name-media {
    margin-left: 15% !important;
  }

  .card-feedback {
    .card-body {
      min-height: 160px !important;

    }
  }

  .login_block {
    padding: 0 !important;
    margin-top: 50px !important;
  }

  .entrance-login {
    text-align: center !important;
  }

  .card.card-feedback .card-feedback-user .card-img {
    width: 60px !important;
    height: 60px !important;
  }

  .mf-navbar .navbar .navbar-collapse .navbar-nav:nth-child(1) .nav-link {
    padding: 10px 10px !important;
    font-size: 20px;
  }

  #login_img {
    background-image: unset !important;
  }

  .events .progress {
    width: 80% !important;
  }

  .event-seat-empty {
    padding-left: 20px;
    padding-right: 25px;
  }

  .circles-process {
    margin-left: 10px;
  }

  .mf-home {
    .mf-header h1 {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .mf-video-block {
    display: none;
  }
  .mf-home .mf-speakers .mf-speaker-users:nth-child(12) {
    left: 70% !important;
    top: 50px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(11) {
    left: 70% !important;
    top: 450px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(10) {
    left: 18% !important;
    top: 490px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(9) {
    left: 41% !important;
    top: 160px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(8) {
    left: 13% !important;
    top: 265px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(7) {
    left: 72% !important;
    top: 345px !important;
  }
  .mf-home .mf-speakers .mf-speaker-users:nth-child(6) {
    top: 365px !important;
    left: 7% !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(5) {
    left: 32% !important;
    top: 75px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(4) {
    left: 8% !important;
    top: 140px !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(3) {
    top: 405px !important;
    left: 45% !important;
  }

  .mf-home .mf-speakers .mf-speaker-users:nth-child(2) {
    left: 75% !important;
    top: 200px !important;

  }

  .mf-speaker-user-info {
    font-size: 12px;
  }
  .mf-home .mf-speakers .mf-speaker-users .mf-speaker-user-info {
    padding: 0.4rem 0.4rem !important;
    left: 8% !important;
    top: 65% !important;
  }

  .mf-home .mf-speakers .mf-speaker-users .mf-speaker-avatar {
    width: 60% !important;
    height: 60% !important;
  }

  .mf-home {

    .mf-speakers {
      .mf-brand {
        width: 115px !important;
        height: 115px !important;
        line-height: 90px !important;
      }
    }
  }

  .card-list {

    &:hover {
      .red-border {
        border-bottom: none !important;
        border-top: none !important;
        border-left-color: $red !important;
        border-right-color: $red !important;

      }

      .right-border {
        border-right: transparent !important;
      }
    }

    .media-speker {
      margin: 0 !important;
    }

  }
  .navbar-nav:nth-child(2) {
    padding-left: 0px !important;
  }
  .articles-cards {
    height: 250px;
  }
  @keyframes mf-brand-effect {
    from {
      width: 150px !important;
      height: 150px !important;
      opacity: 1;
    }
    to {
      width: 300px !important;
      height: 300px !important;
      opacity: 0.3;
    }
  }
  .owl-carousel {
    .owl-dots {
      bottom: 12% !important;
    }
  }
}

//------------------------------ Media home page end ----------------------------

//=================MAIN STYLES BEGIN====================================
body {
  background-color: #e5e5e5;
  font: {
    size: 16px;
    family: "SF-Pro-Display-Light", sans-serif;
    weight: normal;
  }
  overflow-x: hidden;
}

.section-padding {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6, strong {
  font: {
    family: 'SF-Pro-Display-Medium', 'SF-Pro-Display-Regular', sans-serif;
    weight: normal;
  }
  color: $black !important;
}

.font-weight-bold {
  font: {
    family: 'SF-Pro-Display-Black', 'SF-Pro-Display-Regular', sans-serif !important;
  }
}

.font-weight-light {
  font: {
    family: 'SF-Pro-Display-Light', 'SF-Pro-Display-Regular', sans-serif !important;
  }
}

.font-weight-normal {
  font: {
    family: 'SF-Pro-Display-Regular', sans-serif !important;
  }
}

.font-md {
  font-size: 20px;
  line-height: 28px;
}

.text-success {
  color: #1DD1A1 !important;
}

.text-muted {
  color: $grey !important;
}

.text-body {
  color: $black !important;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 40px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 1));
    content: '';
  }
}

.w-33 {
  width: 33.3333333%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.card {
  border: none;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;

  .card-img {
    border-radius: 6px 6px 0 0;
  }

  .card-body, .card-footer {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    @include transition(all, 0.4s, linear);

    h4 {
      font-size: 20px;
    }
  }

  @include shadow(0, 2px, 2px, rgba(0, 0, 0, 0.12));
  @include transition(all, 0.4s, linear);

  &:hover {
    @include shadow(0, 15px, 30px, rgba(170, 162, 162, 0.5));
  }

  &.card-pricing:hover {
    .card-body, .card-footer {
      border-left-color: $red;
      border-right-color: $red;
    }

    .card-footer .card-hover-block {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.card-video-block {
    h4 {
      display: -webkit-box;
      max-width: 100%;
      font-size: 14px;
      line-height: 1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    > .blog-theme.blog-theme-lg {
      iframe {
        height: 395px;
      }
    }

    &:hover {
      .card-video-play-img::before {
        background-color: rgba(46, 2, 2, 0.6);
      }

      .card-body {
        .icon {
          background-color: $black !important;
        }

        .text-muted {
          color: $black !important;
        }
      }

      .bg-secondary {
        .icon {
          background-color: #ffffff !important;
        }
      }
    }

    h4 {
      font-size: 16px;
    }

    .icon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }

    .card-img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .card-video-play-img {
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        content: '';
        display: block;
        background-color: transparent;
        @include transition(all, 0.4s, linear);
      }

      a > .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        opacity: 0.8;
        width: 75px;
        height: 75px;
      }
    }
  }

  &.card-list {
    .w-30 {
      img {
        height: 100% !important;
      }
    }

    .card-footer {
      height: 100%;
    }

    .card-footer .card-hover-block {
      transform: translateY(0);
      position: absolute;
      left: 0;
      bottom: -82px;
    }

    .w-40, .w-30:last-child {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      @include transition(all, 0.4s, linear);

      h3 {
        height: 72px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }

    .red-border {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      @include transition(all, 0.4s, linear);

      .text-home-event {
        height: 105px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
      }

    }

    .w-30:last-child {
      border-right: 2px solid transparent;
    }

    &:hover {
      .w-40, .w-30:last-child {
        border-bottom-color: $red;
        border-top-color: $red;
      }

      .red-border {
        border-bottom-color: $red;
        border-top-color: $red;

      }

      .right-border {
        border-right: 2px solid $red;

      }

      .w-30:last-child {
        border-right: 2px solid $red;
      }

      .card-footer .card-hover-block {
        bottom: 0;
        opacity: 1;
      }
    }

    .card-img {
      height: 100%;
      //height: 210px;
      object-fit: cover;
    }

    .card-footer {
      h1.font-weight-bold {
        font-size: 32px;
      }
    }

    .card-price {
      .d-flex {
        h1.font-weight-bold {
          font-size: 24px;
        }
      }
    }
  }

  &.card-article {
    .border-left {
      border-width: 2px !important;
    }

    &:hover {
      .card-body {
        .icon {
          background-color: $black;
        }

        .text-muted {
          color: $black !important;
        }
      }
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .card-footer {
    h1.font-weight-bold {
      font-size: 48px;
    }

    .d-flex {
      h1.font-weight-bold {
        font-size: 24px;
      }
    }

    .card-hover-block {
      background: $red;
      color: #ffffff;
      top: unset;
      transform: translateY(100%);
      opacity: 0;
      @include transition(all, 0.4s, linear);

      h4 {
        font-size: 24px;
      }

      a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
      }
    }
  }

  &.card-feedback {
    .img-quete {
      width: 43px;
      position: absolute;
      left: 50px;
      top: 0;
      transform: translateY(100%) translateX(100%)
    }

    .card-body {
      min-height: 220px;
      padding: 0 2rem;
      background: {
        image: url("/assets/images/img/union.png");
        size: 100%;
        position: center;
        repeat: no-repeat;
      };
    }

    .card-feedback-user {
      transform: translateY(-20%);

      .card-img {
        object-fit: cover;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-left: auto;
      }
    }

    &, &:hover {
      box-shadow: none !important;
    }
  }
}

.btn {
  padding: 13px 25px;

  &.btn-sm {
    padding: 5px 37px !important;
  }

  .article-crud {
    .btn-article-edit {
      width: 50px !important;
      height: 50px !important;
    }
  }

  &.btn-danger {
    background-color: $red;
    border-color: $red;

    &:hover {
      border-color: $red;
      @include transition(all, 0.4s, ease);
      @include shadow(0, 8px, 25px, rgba(208, 2, 27, 0.3));
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.btn-success {
    font-size: 18px;
    line-height: 24px;
    background-color: $green;
    border-color: $green;

    &:hover {
      border-color: #20DF8F;
      @include transition(all, 0.4s, ease);
      @include shadow(0, 8px, 25px, rgba(22, 153, 92, 0.3));
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.btn-outline-dark {
    border-color: $black;

    &:hover {
      border-color: $black;
      background-color: $black;
      @include transition(all, 0.4s, ease);
      @include shadow(0, 8px, 25px, rgba(47, 47, 47, 0.3));
    }
  }
}

.btn-edit-28, .btn-delete-28, .btn-plus-28 {
  width: 28px !important;
  height: 28px !important;
  border: 4.5px solid #F4F3F3;
  border-radius: 50%;
  position: absolute;
  @include transition(all, 0.5s, linear);
  opacity: 0;

  &:hover {
    border-color: #F4F3F3;
  }

  &:focus {
    box-shadow: none;
  }

  .icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 13px !important;
    height: 13px !important;
    background-color: #ffffff;
  }
}

.btn-edit-28 {
  background-color: $warning;
}

.btn-delete-28 {
  background-color: $red;
}

.btn-plus-28 {
  background-color: $green;
}

.btn-edit-32, .btn-delete-32, .btn-plus-32 {
  position: relative;
  width: 32px !important;
  height: 32px !important;
  border: 5px solid #F4F3F3;
  border-radius: 50%;
  @include transition(all, 0.5s, linear);
  opacity: 0;

  &:hover {
    border-color: #F4F3F3;
  }

  &:focus {
    box-shadow: none;
  }

  .icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px !important;
    height: 22px !important;
    background-color: #ffffff
  }
}

.btn-edit-32 {
  background-color: $warning;
}

.btn-delete-32 {
  background-color: $red;
}

.btn-plus-32 {
  background-color: $green;
}

.btn-edit-46, .btn-delete-46, .btn-plus-46, btn-event-status-edit {
  position: relative;
  width: 46px !important;
  height: 46px !important;
  border: 7px solid #F4F3F3;
  border-radius: 50%;
  @include transition(all, 0.5s, linear);
  opacity: 0;

  &:hover {
    border-color: #F4F3F3;
  }

  &:focus {
    box-shadow: none;
  }

  .icon {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 21px !important;
    height: 21px !important;
    background-color: #ffffff;
  }
}

.btn-edit-46 {
  background-color: $warning;
}

.btn-delete-46 {
  background-color: $red;
}

.btn-plus-46 {
  background-color: $green;
}

.btn-event-status-edit {
  background-color: $warning;
}

.client-list-item {
  border-radius: 4px;
  position: relative;

  .client-avatar {
    display: inline-block;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    padding: 5px;
    float: left;
    width: 34px;
    height: 34px;
    margin-left: 24px;
  }

  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 24px;
  }

  p {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    font-family: "SF-Pro-Display-Regular", sans-serif;
    margin-bottom: 0;
    margin-top: 6px;

    &.user-name {
      &:hover {
        @include transition(all, 0.4s, linear);
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .btn-edit-28 {
    right: -14px;
    top: 9px;

    .icon {
      top: 2px;
      left: 5px;
      width: 12px !important;
      height: 16px !important;
    }
  }

  //.btn-delete-28-article{
  //  .icon{
  //    top: 2px;
  //    left: 5px;
  //    width: 18px !important;
  //    height: 16px !important;
  //  }
  //  &:hover{
  //    opacity: 1;
  //  }
  //}
  //
  //.btn-edit-28-article{
  //  .icon{
  //    top: 2px;
  //    left: 5px;
  //    width: 18px !important;
  //    height: 16px !important;
  //  }
  //}

  @include transition(all, 0.4s, linear);

  &:hover {
    .line {
      opacity: 0;
    }

    background-color: #fff;
    @include shadow(0px, 2px, 2px, rgba(0, 0, 0, 0.12));

    .btn-edit-28 {
      opacity: 1;
    }

    cursor: pointer;
  }

  .line {
    opacity: 0.07;
    border-top: 1px solid #000000;
    width: 92%;
    margin-top: 7px;
    margin-left: auto;
  }
}

.client-add-btn {
  margin-top: 130px;

  &:hover {
    cursor: pointer;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.min-height {
  height: 100vh;
}

/* LABEL ======================================= */

.form-group {
  position: relative;
  border-radius: 6px;
  padding: 7px 15px;
  //border: 1px solid #aaaaaa;
  padding-bottom: 0;

  .is-touched.av-invalid {
    & ~ label {
      color: $red;
    }

    border-color: $red !important;
  }

  .is-touched.av-valid {
    border-color: $green !important;

    & ~ label {
      color: $green;
    }
  }

  label {
    color: #aaaaaa;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 27px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input {
    height: auto;
    padding-bottom: 0 !important;
    border: 1px solid #eee !important;
  }

  select {
    height: auto;
    padding: 20px 10px 0 8px !important;
  }

  .label-date {
    top: 12px;
    left: 27px;
    font-size: 12px;
  }

  input, select {
    font-size: 22px;
    font-family: "SF-Pro-Display-Medium", sans-serif;
    padding: 15px 10px 10px 11px;
    display: block;
    color: #444;
    background-color: #fff;
    box-shadow: none;

    &:focus, &:valid {
      box-shadow: none !important;
      outline: none;

      & ~ label {
        top: 12px;
        left: 27px;
        font-size: 12px;
      }
    }
  }

  select, input[type=date] {
    & ~ label {
      top: 12px;
      left: 27px;
      font-size: 14px;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.custom-modal {
  .modal-header {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-right: 2rem;
  }

  .modal-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  max-width: 70%;

  .logo {
    border: 2px dashed #eee;
  }

  button {
    font-size: 16px !important;

    &.btn-outline-secondary {
      padding: 13px 18px !important;
    }
  }

  .close {
    font-size: 30px !important;
  }

  .client-photo-upload {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #eee;
    background-image: url("/assets/images/icon/user.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    position: relative;
    overflow: hidden;

    &:hover {
      label {
        bottom: -19px;
      }
    }

    label {
      display: block;
      height: 50%;
      position: absolute;
      bottom: -58px;
      @include transition(all, 0.4s, linear);
      left: 0;
      right: 0;
      background-image: url("/assets/images/camera.png");
      background-repeat: no-repeat;
      background-position: center 6px;
      background-color: $green;
      opacity: 0.5;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .btn-reload {
    padding: 0;
    background-color: #fff;
    border: none;
    position: absolute;
    right: -25px;
    top: 10px;
    box-shadow: none;
  }
}

//=========================ICON STYLE BEGIN===============
.icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  line-height: 24;
  margin-top: -2px;
  margin-left: -1px;
  background-color: $grey;
  vertical-align: middle;
  mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  -webkit-mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }

  &.icon-add {
    mask-image: url("/assets/images/icon/add.svg");
    -webkit-mask-image: url("/assets/images/icon/add.svg");
  }

  &.icon-user-add {
    mask-image: url("/assets/images/icon/user-plus.svg");
    -webkit-mask-image: url("/assets/images/icon/user-plus.svg");
  }

  &.icon-edit {
    mask-image: url("/assets/images/icon/edit.svg");
    -webkit-mask-image: url("/assets/images/icon/edit.svg");
  }

  &.icon-plus {
    mask-image: url("/assets/images/icon/plus.svg");
    -webkit-mask-image: url("/assets/images/icon/plus.svg");
  }

  &.icon-delete {
    mask-image: url("/assets/images/icon/delete.svg");
    -webkit-mask-image: url("/assets/images/icon/delete.svg");
  }

  &.icon-user {
    mask-image: url("/assets/images/icon/user.svg");
    -webkit-mask-image: url("/assets/images/icon/user.svg");
  }

  &.icon-key {
    mask-image: url("/assets/images/icon/key.svg");
    -webkit-mask-image: url("/assets/images/icon/key.svg");
  }

  &.icon-upload {
    mask-image: url("/assets/images/icon/upload.svg");
    -webkit-mask-image: url("/assets/images/icon/upload.svg");
  }

  &.icon-vector {
    mask-image: url("/assets/images/icon/vector.svg");
    -webkit-mask-image: url("/assets/images/icon/vector.svg");
  }

  &.icon-play {
    mask-image: url("/assets/images/icon/play.svg");
    -webkit-mask-image: url("/assets/images/icon/play.svg");
  }

  &.icon-arrow-right {
    mask-image: url("/assets/images/icon/arrow-right.svg");
    -webkit-mask-image: url("/assets/images/icon/arrow-right.svg");
  }

  &.icon-telegram {
    mask-image: url("/assets/images/icon/telegram.svg");
    -webkit-mask-image: url("/assets/images/icon/telegram.svg");
  }

  &.icon-instagram {
    mask-image: url("/assets/images/icon/instagram.svg");
    -webkit-mask-image: url("/assets/images/icon/instagram.svg");
  }

  &.icon-facebook {
    mask-image: url("/assets/images/icon/facebook.svg");
    -webkit-mask-image: url("/assets/images/icon/facebook.svg");
  }

  &.icon-youtube {
    mask-image: url("/assets/images/icon/youtube.svg");
    -webkit-mask-image: url("/assets/images/icon/youtube.svg");
  }

  &.icon-phone {
    mask-image: url("/assets/images/icon/phone.svg");
    -webkit-mask-image: url("/assets/images/icon/phone.svg");
  }

  &.icon-like {
    mask-image: url("/assets/images/icon/like.svg");
    -webkit-mask-image: url("/assets/images/icon/like.svg");
  }

  &.icon-dislike {
    mask-image: url("/assets/images/icon/dislike.svg");
    -webkit-mask-image: url("/assets/images/icon/dislike.svg");
  }

  &.icon-eye {
    mask-image: url("/assets/images/icon/eye.svg");
    -webkit-mask-image: url("/assets/images/icon/eye.svg");
  }

  &.icon-eye-off {
    mask-size: 90%;
    -webkit-mask-size: 90%;
    mask-image: url("/assets/images/icon/eye-off.svg");
    -webkit-mask-image: url("/assets/images/icon/eye-off.svg");
  }

  &.icon-facebook-f {
    mask-image: url("/assets/images/icon/facebook-f.svg");
    -webkit-mask-image: url("/assets/images/icon/facebook-f.svg");
  }

  &.icon-youtube-play {
    mask-image: url("/assets/images/icon/youtube-play.svg");
    -webkit-mask-image: url("/assets/images/icon/youtube-play.svg");
  }

  &.icon-search {
    mask-image: url("/assets/images/icon/search.svg");
    -webkit-mask-image: url("/assets/images/icon/search.svg");
  }

  &.icon-refresh {
    mask-image: url("/assets/images/icon/refresh-two-counterclockwise.svg");
    -webkit-mask-image: url("/assets/images/icon/refresh-two-counterclockwise.svg");
  }

  &.icon-refresher {
    mask-image: url("/assets/images/icon/refresh-cw.svg");
    -webkit-mask-image: url("/assets/images/icon/refresh-cw.svg");
  }

  &.icon-list {
    mask-image: url("/assets/images/icon/list.svg");
    -webkit-mask-image: url("/assets/images/list.svg");
  }

  &.icon-chat {
    mask-image: url("/assets/images/icon/chat.svg");
    -webkit-mask-image: url("/assets/images/icon/chat.svg");
  }

  &.icon-log-out {
    mask-image: url("/assets/images/icon/log-out.svg");
    -webkit-mask-image: url("/assets/images/icon/log-out.svg");
  }

  &.icon-setting {
    mask-image: url("/assets/images/icon/settings.svg");
    -webkit-mask-image: url("/assets/images/icon/settings.svg");
  }

  &.icon-key {
    mask-image: url("/assets/images/icon/key23.svg");
    -webkit-mask-image: url("/assets/images/icon/key23.svg");
  }

  &.icon-date {
    mask-image: url("/assets/images/icon/calendar.svg");
    -webkit-mask-image: url("/assets/images/icon/calendar.svg");
  }

  &.icon-dashboard {
    mask-image: url("/assets/images/icon/home.svg");
    -webkit-mask-image: url("/assets/images/icon/home.svg");
  }

  &.icon-antenna {
    mask-image: url("/assets/images/icon/radio.svg");
    -webkit-mask-image: url("/assets/images/icon/radio.svg");
  }

  &.icon-check {
    mask-image: url("/assets/images/icon/check.svg");
    -webkit-mask-image: url("/assets/images/icon/check.svg");
  }

  &.icon-location {
    mask-image: url("/assets/images/icon/map-pin.svg");
    -webkit-mask-image: url("/assets/images/icon/map-pin.svg");
  }

  &.icon-percent {
    mask-image: url("/assets/images/icon/percent.svg");
    -webkit-mask-image: url("/assets/images/icon/percent.svg");
  }

}

//=========================NAVIGATION BAR (BY MDK)=================
.mf-navbar {
  background-color: #ffffff;
  position: relative;
  @include shadow(0, 2px, 2px, rgba(0, 0, 0, 0.12));
  z-index: 999;

  .img-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EEF2F5;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar {
    padding: 0;

    .navbar-collapse {
      .navbar-nav:nth-child(1) {
        .nav-link {
          color: $grey;
          padding: 23px 10px;
          position: relative;

          &:hover {
            color: $black;
          }

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $red;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(-5px) rotate(5deg);
            opacity: 0;
            @include transition(all, 0.2s, linear);
          }

          &.active::after {
            transform: translateY(0) rotate(0);
            opacity: 1;
          }

          &:hover::after {
            transform: translateY(0) rotate(0);
            opacity: 1;
          }

        }
      }

      .btn-outline-dark {
        font-family: "SF-Pro-Display-Bold", sans-serif;
      }

      .icon-vector {
        width: 16px;
        height: 16px;
      }
    }

    .nav-link.active {
      color: #000000 !important;
      opacity: 1 !important;
    }
  }

  .dropdown-menu {
    min-width: auto;
    left: 50% !important;
    top: 100% !important;
    transform: translateX(-50%) !important;
    border: none;
    @include shadow(0, 10px, 25px, rgba(0, 0, 0, 0.1));
    border-top: 2px solid $red;
    border-radius: 0 0 6px 6px;

    &::before {
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $red;
      position: absolute;
      left: 44%;
      top: -8px;
    }
  }
}

.mf-navbar-admin {
  background-color: #ffffff;
  position: relative;
  z-index: 999;

  .img-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EEF2F5;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar {
    padding: 0;

    .nav-link.active {
      color: $black !important;
      opacity: 1 !important;
    }

    .navbar-nav:nth-child(1) {
      .nav-item {
        position: relative;
        @include transition(all, 0.2s, linear);

        .btn-plus-32 {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: -15px;
          background-color: $green;
          opacity: 0;
        }

        .btn {
          width: unset;
          height: unset;
          padding: 0;
        }

        .nav-link {
          color: $grey;
          padding: 23px 0;
        }

        &:hover .btn-plus-32 {
          opacity: 1;
        }

        &:hover .nav-link {
          color: $black;
        }
      }
    }

    .navbar-nav:nth-child(2) {
      .dropdown {

        .user-info {
          width: 75%;
        }

        .icon {
          width: 20px !important;
          height: 20px !important;
        }

        .dropdown-toggle {
          h6 {
            font-size: 16px;
          }

          .text-muted {
            font-size: 12px;
          }

          &::after {
            display: none;
          }
        }

        .dropdown-menu {
          transform: translate(10px, 10px);

          a {
            color: $black;
            font-size: 14px;

            &:hover {
              background-color: rgba(227, 227, 227, 0.3);
            }
          }

          .icon {
            width: 16px;
            height: 16px;
          }
        }

      }
    }
  }
}

.link {
  &:link {
    COLOR: black;
    TEXT-DECORATION: none;
    font-weight: normal
  }

  &:visited {
    COLOR: black;
    TEXT-DECORATION: none;
    font-weight: normal
  }

  &:active {
    COLOR: white;
    TEXT-DECORATION: none
  }

  &:hover {
    COLOR: white;
    TEXT-DECORATION: none;
    font-weight: none
  }
}

.btn-red {
  border: 1px solid #ED2939;
  background: #ED2939;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: white;

  &:focus {
    box-shadow: none;
  }
}

.speaker-section .header-title {
  margin-top: 40px;
}

.form-input-div {

  border: 1px solid #dee2e6 !important;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;

  label {
    margin-top: 5px;
  }

  .form-input {

    border: 0;

    &:focus {
      box-shadow: none;
    }

  }

}

.form-textarea {

  &:focus {
    box-shadow: none;
  }

}

//=========================HEADER BAR (BY MDK)=================
.mf-header {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font: {
      size: 18px;
      family: "SF-Pro-Display-Medium";
    }
    line-height: 30px;
  }

  .mf-video-block {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 700px;
    z-index: 0;
    background: {
      image: url("/assets/images/img/header-img.jpg");
      position: left -80px;
      repeat: no-repeat;
      size: 100%;
    }

    .btn-link {
      position: absolute;
      right: 30%;
      top: 32%;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      padding: 0;

      .icon {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #ffffff;
        opacity: 0.5;
        box-shadow: 0 4px 35px #000000;
      }
    }
  }
}

//=========================HOME BAR (BY MDK)=================
.mf-home {

  .card-video-block {
    h4 {
      display: -webkit-box;
      max-width: 100%;
      font-size: 14px;
      line-height: 1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }

  .video-live {
    &::before {
      background-color: rgba(22, 0, 3, 0.57) !important;
      opacity: 1;
      z-index: 1;
    }

    .icon {
      z-index: 999;
      opacity: 0.4;
    }

    .card-img {
      height: 370px;
      filter: blur(5px);
    }

    .badge {
      border-radius: 4px;
      color: #ffffff;
      padding: 0.6rem 1rem;
      position: absolute;
      z-index: 99;
      right: 20px;
      top: 20px;
      background-color: #ED2939;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }

  .dropdown-toggle::after {
    display: none !important;
    content: none !important;
  }

  .owl-carousel {
    .owl-dots {
      position: absolute;
      right: 20%;
      bottom: 22%;

      .owl-dot {
        width: 12px;
        height: 12px;
        background-color: #ED2939;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;

        &.active {
          border: 1px solid #ED2939;
          background-color: #ffffff;

          &::after {
            content: '';
            width: 6px;
            height: 6px;
            display: block;
            border-radius: 50%;
            transform: translate(2px, 2px);
            background-color: #ED2939;
          }
        }
      }
    }
  }

  .mf-speakers {
    position: relative;
    min-height: 600px;

    .mf-brand {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 20px 35px rgba(201, 195, 195, 0.4);
      line-height: 150px;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);

      &::after, &::before {
        content: '';
        display: block;
        border-radius: 50%;
        border: 1px solid $red;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0.3;
        animation: mf-brand-effect 5s linear infinite;
        transform: translateY(-50%) translateX(-50%);
      }

      &::before {
        animation-delay: 2.5s;
      }
    }

    .mf-speaker-users {
      width: 97px;
      height: 97px;
      border-radius: 50%;
      position: absolute;

      &:hover {
        .mf-speaker-user-info {
          transform: translateX(-50%) rotateY(0deg) rotateX(0deg);
          opacity: 1;
        }
      }

      .mf-speaker-user-info {
        padding: 0.6rem 2rem;
        text-align: center;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 110%;
        transform: translateX(-50%) rotateY(30deg) rotateX(20deg);
        white-space: nowrap;
        border-radius: 5px;
        box-shadow: 0 20px 35px rgba(211, 209, 209, 0.79);
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;

        &::before {
          content: '';
          display: block;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #ffffff;
          position: absolute;
          left: 49%;
          top: -8px;
          transform: translateX(-50%);
        }
      }

      .mf-speaker-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      &:nth-child(2) {
        top: 150px;
        left: 750px;
      }

      &:nth-child(3) {
        top: 300px;
        left: 20px;
      }

      &:nth-child(4) {
        top: 50px;
        left: 200px;
      }

      &:nth-child(5) {
        top: -60px;
        left: 357px;
      }

      &:nth-child(6) {
        top: 450px;
        left: 250px;
      }

      &:nth-child(6) {
        top: 450px;
        left: 250px;
      }

      &:nth-child(7) {
        top: 343px;
        left: 632px;
      }

      &:nth-child(8) {
        top: 282px;
        left: 345px;
      }

      &:nth-child(9) {
        top: 80px;
        left: 520px;
      }

      &:nth-child(10) {
        top: 520px;
        left: 800px;
      }

      &:nth-child(11) {
        top: 300px;
        left: 1000px;
      }

      &:nth-child(12) {
        top: 0;
        left: 930px;
      }

      &:nth-child(13) {
        top: 75px;
        left: 1200px;
      }
    }
  }
}

@keyframes mf-brand-effect {
  from {
    width: 150px;
    height: 150px;
    opacity: 1;
    @media (min-width: 300px) and (max-width: 700px) {
      width: 150px;
      height: 150px;
    }
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0.3;
    @media (min-width: 300px) and (max-width: 700px) {
      width: 300px !important;
      height: 300px !important;
    }
  }
}

@keyframes mf-brand-effect-media {
  from {
    width: 150px !important;
    height: 150px !important;
    opacity: 1;
  }
  to {
    width: 200px !important;
    height: 200px !important;
    opacity: 0.3;
  }
}

//=========================NURLAN ONE-ARTICLE PAGE START========
.one-article-page {
  .header-block {
    img {
      width: 100%;
    }

    .right-sidebar {
      padding: 10rem 0 0 4rem;
      height: 100%;
      background-color: #ffffff;
    }
  }

  title {
    font: {
      size: 30px;
      family: "SF-Pro-Display-Medium", sans-serif;
    }
  }

  .main-block {
    .text {
      p {
        line-height: 32px;
      }

      margin-bottom: 30px;
    }

    .post-block {
      width: 80%;

    }

    .media:nth-child(1) {
      border-top: 1px solid #cdcdcd;
    }

    .media {
      img {
        border-radius: 50%;
      }

      .text-muted {
        font-size: 10px !important;
      }

      p {
        font-size: 14px;
      }
    }

    .news-block {
      padding: 0 0 0 4rem !important;

      h2:nth-child(1) {
        position: relative;
        font-size: 20px;
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 25px;
      }

      h2:nth-child(1)::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -9px;
        width: 3px;
        height: 25px;
        display: block;
        background-color: $red;
      }

      h2:nth-child(2) {
        font: {
          size: 20px;
          family: "SF-Pro-Display-Light", sans-serif;
        };

      }

      .img-block {
        width: 25%;

        img {
          border-radius: 5px;
        }
      }

      .title-block {
        width: 75%;

        h6 {
          font-weight: normal !important;
        }

        a {
          color: $black;
          font-size: 14px;
        }

        .text-muted {
          font-size: 12px;
        }
      }

    }

    .input-group {
      align-items: center;
      border: 1px solid #cdcdcd;
      border-radius: 6px;
      background-color: #ffffff;

      .form-control {
        border: none;
        box-shadow: none;
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }

    .btn-danger {
      padding: .3rem 3rem;
    }

  }

}

//=========================NURLAN ONE-ARTICLE PAGE FINSH========

//=========================NURLAN CATALOG PAGE START============
.catalog-sidebar {
  width: 20%;
  height: 80vh !important;
  background-color: #ffffff;
  display: inline-block;
  overflow: auto;

  h6 {
    font-size: 20px;
    border-bottom: 1px solid #ebebeb;
    padding: 2rem 2rem;
    margin-bottom: 0;
  }

  .list-group {
    padding: 0 0 0 2rem;
  }

  .list-group-item {
    border: none;

    &:hover {
      background-color: #e2e2e2;
      border-radius: 6px 0 0 6px;
    }

    .nav-link {
      font: {
        family: "SF-Pro-Display-Regular", sans-serif;
        size: 18px;
      }
      padding: 0;
      color: $black;
    }

    &.active-catalog {
      background-color: #e2e2e2;
      border-radius: 6px 0 0 6px;
    }
  }
}

.catalog {
  display: flex;
  margin-top: 30px;

  .catalog-menu {
    background-color: #ffffff;
    padding: 4.5rem 4.5rem;
    width: 65%;
    margin-left: 30px;
    display: inline-block;

    .btn-edit-28 {
      position: absolute;
      top: 0;
      left: 10%;
    }

    .client-list-item:hover {
      .btn-delete-28 {
        opacity: 1;
      }

    }

    .payColor {
      width: 50px;
      height: 10px;
      margin-top: 7px;
      border-radius: 6px;
    }
  }
}

//=========================NURLAN CATALOG PAGE FINSH============
//=========================NURLAN LOGIN PAGE START============
#login_img {
  background-image: url("/assets/images/loginmfaktor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top !important;
  background-size: 50%;
}

.login_block {
  padding: 2rem 0 0 5rem;
  height: 100vh;

  .btn {
    @include shadow(0, 10px, 20px, rgba(10, 124, 94, 0.24));
  }
}

.login-footer {
  color: $black;
  padding: 2rem 0 2rem 0;
  bottom: 0;
  display: block;
  margin-top: 1rem;

  &:hover {;
    color: $black;
  }
}

//=========================NURLAN LOGIN PAGE FINSH============

//=========================<Jafar's page Begin>====================
.article-footer {
  background-color: white !important;
  border-top: 0;
}

.video-card {
  :nth-child(3), :nth-child(4) {
    margin-top: 35px;
  }
}

.places-page {
  h2 {
    font-size: 24px;
  }

  .client-list-item {
    .line {
      width: 100%;
    }

    &:hover {
      .btn-delete-28 {
        opacity: 1;
      }
    }
  }

  .btn-edit-28 {
    right: 100px;
    top: 0;
  }

  .btn-delete-28 {
    right: 150px;

    .icon {
      top: 2px;
      left: 5px;
      width: 12px !important;
      height: 16px !important;
    }
  }
}

.cabinet_page {
  .container {
    margin-top: 30px;
    //padding-left: 200px;
    //padding-right: 100px;
    p {
      color: #2F2F2F;
      font-family: "SF-Pro-Display-Semibold", sans-serif;
      font-size: 18px;
    }

    .row {
      .col-md-4 {
        .card {
          height: 100%;

          &.info-bg {
            background-image: url("/assets/images/info-bg.png");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
          }

          &.danger-bg {
            background-image: url("/assets/images/danger-bg.png");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
          }

          &.primary-bg-small {
            background-image: url("/assets/images/pri-small-bg.png");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
          }

          &.primary-bg {
            background-image: url("/assets/images/primary-bg.png");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
          }

          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.109293);
          transition: 0.3s all linear;

          &:hover {
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.109293);
          }

          .card-body {
            .prim-info {
              font-size: 13px;
            }

            padding-left: 32px;

            .plus {
              position: absolute;
              top: 25px;
              right: 28px;
              width: 22px;
              height: 22px;
              cursor: pointer;
              background-image: url("/assets/images/plus.png");
            }

            p {
              font-size: 14px;
              font-family: "SFProDisplay Light", sans-serif;
            }

            .little {
              font-size: 12px;
              font-family: "SFProDisplay Light", sans-serif;
            }

            .transfer-money {
              background-color: blue;
              border-radius: 100%;
              cursor: pointer;
            }

            .btn-group {
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.109293);
              border-radius: 16px;

              .btn.btn-secondary {
                background-color: #fff;
                padding: 3px 9px;
                border: 1px solid #ffffff;
                color: #000000;
                font-size: 12px;

                &:nth-child(3) {
                  border-top-right-radius: 16px;
                  border-bottom-right-radius: 16px;
                }

                &:nth-child(1) {
                  border-top-left-radius: 16px;
                  border-bottom-left-radius: 16px;
                }

                &:focus, &:hover {
                  box-shadow: none;
                  background: #F9F9F9;
                  border: 1px solid #F6F6F6;
                }

                &.active-btn {
                  background: #F9F9F9;
                  border: 1px solid #F6F6F6;
                }
              }
            }

            h3 {
              &.info {
                font-size: 24px;
                color: #0085FF !important;
                font-family: "SF-Pro-Display-Heavy", sans-serif;
              }

              span {
                font-size: 8px;
                font-family: "SF-Pro-Display-Regular", sans-serif;
                color: #000000 !important;
              }

              .info-count {
                font-family: "SF-Pro-Display-Regular", sans-serif;
                font-size: 14px;
              }
            }

            h4 {
              font-size: 24px;
              color: #20DF8F;
              font-family: "SF-Pro-Display-Heavy", sans-serif;

              &.warning {
                color: #FFB700 !important;
              }

              &.danger {
                color: #D0021B !important;
              }

              &.info {
                color: #0085FF !important;
              }

              span {
                color: #B7B7B7;
                font-family: "SFProDisplay Light", sans-serif;
              }
            }

            span {
              &.positive {
                color: #2BBF57;
                font-size: 20px;
                font-family: "SF-Pro-Display-Heavy", sans-serif;
              }

              &.positive-small {
                color: #2BBF57 !important;
                font-size: 14px;
                font-family: "SFProDisplay Light", sans-serif;
              }
            }
          }
        }
      }

      .col-md-2 {
        p {
          position: relative;

          .payment {
            width: 4px;
            border-radius: 6px;
            height: 16px;
            position: absolute;
            left: -10px;
            top: 5px;

            &.payment-cash {
              background-color: #0085FF;
            }

            &.payment-card {
              background-color: #E9E011;
            }

            &.payment-transfer {
              background-color: #D0021B;
            }

            &.payment-payme {
              background-color: #12E7DA;
            }

            &.payment-payme-husan {
              background-color: #c676c1;
            }
            &.payment-shot {
              background-color: #56c667;
            }
          }
        }

        h4 {
          font-size: 16px;
          font-family: "SF-Pro-Display-Heavy", sans-serif;

          span {
            font-family: "SF-Pro-Display-Light", sans-serif;
            font-size: 12px;
          }
        }

        h5 {
          font-family: "SF-Pro-Display-Regular", sans-serif;
          font-size: 10px;

          span {
            &.positive {
              color: #20DF8F;
            }

            &.negative {
              color: #D0021B;
            }
          }
        }
      }
    }
  }
}

.speaker {
  &:hover .card-body {
    .btn-edit-46, .btn-delete-46 {
      opacity: 1 !important;

      .icon {
        background-color: #ffffff;
      }
    }
  }

  height: 100%;
  overflow: unset !important;

  .card-img {
    min-height: 275px;
    max-height: 275px;
  }

  .card-body {
    position: relative;
  }

  .speaker-btn {
    position: absolute;
    right: -20px;
    top: 30px;
  }

  @include transition(all, 0.5s, linear);
}

.speaker-image {
  width: 100%;
  border: 2px dashed #eeeeee;
  height: 200px;
  border-radius: 6px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  > p {
    line-height: 200px;
  }

  > img {
    transition: all 0.2s ease;
    width: 100%;
    height: 215px;
    object-fit: contain;
  }

  &:hover {
    label {
      cursor: pointer;
      opacity: 1;
      pointer-events: unset;
    }

    > img {
      filter: blur(3px);
    }
  }

  label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    border-radius: 4px;
    display: block;
    color: #000;
    background-color: #f3f3f3;
    pointer-events: none;
    transition: all 0.2s ease;

    img {
      width: 16px;
    }

    text-align: center;
    padding: 9px 15px;
  }
}

.speaker-logo {
  width: 50%;
  height: 120px;

  .logoImg {
    top: 38%;
    left: 46%;
    margin: 1rem;
  }
}

//=========================<Jafar's page End>=====================
//=========================<Ozod's page>===========================

.header-btn-light {

  border: 1px solid #8989899e;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;

  &:active {
    border: 1px solid #ED2939;
    background: #ED2939;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: white;
  }

  &:hover {
    border: 1px solid #ED2939;
    background: #ED2939;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: white;
  }

  &:focus {
    box-shadow: none;
  }

}

.input-style {
  border: 1px solid #aaaaaa;
  padding: 24px;

  &:focus {
    box-shadow: none;
  }
}

.place_page .set-list, .set-card .set-list {

  .form-group {
    border: none;
    background-color: rgb(233, 236, 239);
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;

    .set-name {
      padding: 8px 0 0 0 !important;
    }
  }

  .form-group-btn {
    margin-bottom: 5px;
  }

  overflow-x: scroll;
  flex-wrap: nowrap !important;

  &::-webkit-scrollbar-track {
    height: 3px;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    height: 6px;
    width: 3px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    margin-top: 15px;
    background-color: #20DF8F;
    border: 2px solid #20DF8F;
  }

}

.hr-category {

  text-align: right;

  .active {
    border: 1px solid #ED2939;
    background: #ED2939;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: white;
  }

}

.header-title {

  font-size: 32px;
  line-height: 38px;
  color: #2F2F2F;

}

.hr-search-icon {

  .icon-search {
    width: 30px;
  }

  &:hover {

    cursor: pointer;

  }

}

.hr-search-input {
  background-color: #EEF2F5;
  border: none;
  opacity: 1;

  &:focus {
    //background-color: #EEF2F5;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0;
    transform: translateX(5px) rotate(0deg);
    //opacity: 0;
    @include transition(all, 1s, linear);
  }

}

.hr-search-input {

  outline: none;

}

.hr-search-input::placeholder {

  //background-color: #EEF2F5;
  opacity: 0.5;

}

.event-videos {

  .col-6 {
    .card {
      height: 100%;

      h4 {
        display: -webkit-box;
        max-width: 100%;
        height: 30px;
        font-size: 14px;
        line-height: 1;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

}

//===============================<Ozod's page/>=====================
//===============================<Shoxrux's page/> =====================
.user_edit {
  .header-title2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2rem;
  }

  .client-photo-upload {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #eee;
    background-image: url("/assets/images/icon/user.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    position: relative;
    overflow: hidden;

    &:hover {
      label {
        bottom: -19px;
      }
    }

    label {
      display: block;
      height: 50%;
      position: absolute;
      bottom: -58px;
      @include transition(all, 0.4s, linear);
      left: 0;
      right: 0;
      background-image: url("/assets/images/camera.png");
      background-repeat: no-repeat;
      background-position: center 6px;
      background-color: $green;
      opacity: 0.5;

      &:hover {
        cursor: pointer;
      }
    }
  }

  //.post-image {
  //  margin: auto;
  //  width: 100px;
  //  border: 1px solid #eeeeee;
  //  height: 100px;
  //  background-size: 100%;
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  border-radius: 50%;
  //  position: relative;
  //  overflow: hidden;
  //  span{
  //    margin: auto;
  //  }
  //  &:hover{
  //    label{
  //      bottom: -5%;
  //    }
  //  }
  //  label {
  //    @include transition(all, 0.3s, linear);
  //    position: absolute;
  //    width: 100%;
  //    height: 40px;
  //    display: block;
  //    background-color: rgba(0, 0, 0, 0.4);
  //    background-image: url("/assets/images/icon/camera.svg") ;
  //    background-repeat: no-repeat;
  //    background-position: center center !important;
  //    text-align: center;
  //    bottom: -33%;
  //    left: 0;
  //  }
  //}
  //h5 {
  //  font-size: 12px;
  //  font-family: "SF-Pro-Display-Regular", sans-serif;
  //}
  margin-top: 5rem !important;
  //input {
  //  font-size: 16px;
  //  border: none;
  //  color: #898989;
  //
  //  &::placeholder {
  //    color: #aaaaaa;
  //    font-style: italic;
  //  }
  //
  //  &:focus {
  //    background-color: #eee;
  //    box-shadow: none;
  //  }
  //
  //  font-family: "SF-Pro-Display-Light", sans-serif;
  //  font-size: 18px;
  //  background-color: #eee;
  //}

  //.input-group-prepend {
  //  padding-left: 8px;
  //  border-radius: 4px;
  //  display: block;
  //  background-color: #eee;
  //
  //  .icon {
  //    width: 25px;
  //    height: 25px;
  //    vertical-align: -webkit-baseline-middle;
  //    margin-top: 0;
  //  }
  //}

  .react-datepicker-wrapper {
    display: block;
  }

  .btn-success {
    height: 50px;
    font-size: 16px;
    background-color: $green;
    border: none;
  }

  .btn-danger {
    height: 50px;
    font-size: 16px;
    background-color: $red;
    border: none;
  }

  //.form-group {
  //  border-radius: 4px;
  //  border: 1px solid #eee;
  //  padding-bottom: 3px;
  //  padding-left: 17px;
  //
  //  label {
  //    margin-bottom: 0;
  //    font-size: 12px;
  //    color: #aaaaaa;
  //    font-family: "SF-Pro-Display-Regular", sans-serif;
  //  }
  //
  //  input, select {
  //    font-family: "SF-Pro-Display-Regular", sans-serif;
  //    font-size: 16px;
  //    color: #444;
  //    border: none;
  //    padding-bottom: 0;
  //    box-shadow: none;
  //    height: auto;
  //    padding-left: 0;
  //    padding-top: 0;
  //    background-color: #fff;
  //  }
  //
  //  select {
  //    padding-top: 3px;
  //    padding-bottom: 3px;
  //  }
  //}

  //h3 {
  //  font-size: 24px;
  //  font-family: "SF-Pro-Display-Bold", sans-serif;
  //}
  //
  //p {
  //  margin-top: 3rem;
  //
  //  &:hover {
  //    cursor: pointer;
  //    opacity: 0.7;
  //  }
  //
  //  font-size: 18px;
  //  color: #1DD1A1;
  //  font-family: "SF-Pro-Display-Regular", sans-serif;
  //}

  padding-bottom: 6rem;

  .user-avatar {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    //background-image: url("/assets/images/image.png");
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eeeeee;

    @include transition(all, 0.3s, linear);

  }

}

.mf-navbaruser {
  .nl_2 {
    font-size: 16px;
    position: relative;
    color: $grey;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $red;
      position: absolute;
      left: 0;
      bottom: -13px;
      transform: translateY(-5px) rotate(5deg);
      opacity: 0;
      @include transition(all, 0.2s, linear);
    }

    &.active::after {
      transform: translateY(0) rotate(0);
      opacity: 1;
    }

    &:hover::after {
      transform: translateY(0) rotate(0);
      opacity: 1;
    }
  }

  .dropdown-item {
    &:first-child {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .balance {
    background-color: $red;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
  }
}

.eye_btn {
  transform: translate(245px, -55px);
}

.user_photo {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

//===============================<Shoxrux's page END/>=====================

//****************** NIZOM'S STYLE BEGIN
.margin-70 {
  margin-top: 70px;
}

.mf-footer-admin {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.event-registration {
  section.bg-white {
    padding: 50px;
  }

  p {
    font-size: 20px;
    font-family: "SF-Pro-Display-Regular", sans-serif;

    span {
      font-size: 16px;
      font-family: "SF-Pro-Display-Regular", sans-serif;

    }
  }

  .d-flex.ml-auto {
    flex-direction: row-reverse;
  }

  .event-seat {
    width: 70px;
    margin-right: 30px;
    height: 60px;
    font-size: 22px;
    border-radius: 6px;

    &:hover {
      cursor: pointer;
    }
  }

  .event-seat-sold {
    background-color: $red;
    color: $back_grey;
  }

  .event-seat-busy {
    background-color: $grey;
    color: $black;
  }

  .event-seat-empty {
    background-color: $green;
    color: $back_grey;
  }

  .event-seat-row {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .event-seat-row::-webkit-scrollbar-track {
    height: 3px;
    background-color: #fff;
  }

  .event-seat-row::-webkit-scrollbar {
    height: 6px;
    width: 3px;
    background-color: #fff;
  }

  .event-seat-row::-webkit-scrollbar-thumb {
    background-color: #20DF8F;
    border: 2px solid #20DF8F;
  }

  .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
  }

  .seat-check {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url("/assets/images/icon/check.png");
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
    }

    top: 15px;
    left: 20px;
  }

  .progress {
    margin-top: 20px;
    height: 0.3rem;
    border-radius: 0;
    background-color: $grey;

    .progress-bar.bg-success {
      background-color: $green !important;
    }
  }

  .step {
    width: 43.3px;
    height: 43.3px;
    border-radius: 50%;
    border: 2px solid $grey;
    padding: 3px;

    span {
      font-size: 20px;
    }

    &.step-completed {
      border-color: $green;
    }

    &.step-active {
      color: $green;
    }

    .completed {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $green;
      background-image: url("/assets/images/icon/check-white.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .card-list {
    .card-price {
      h1 {
        font-size: 40px !important;
      }

      .rate {
        p {
          font-size: 10px;
          margin-top: -17px;
        }
      }

    }
  }
}

.client_page {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  .btn-delete-28 {
    right: 60px;
    top: 0px;
  }

  .btn-edit-28 {
    right: 10px;
    top: 10px;
  }

  .client-list-item:hover {
    .btn-delete-28 {
      opacity: 1;
    }

    .btn-edit-28 {
      opacity: 1;
    }
  }
}

.expense_page {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  .btn-delete-28 {
    right: 60px;
    top: 0px;
  }

  .btn-edit-28 {
    right: 10px;
    top: 9px;
  }

  .client-list-item:hover {
    .btn-delete-28 {
      opacity: 1;
    }

    .btn-edit-28 {
      opacity: 1;
    }
  }
}

.waiting_expense_page {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  .btn-delete-28 {
    right: 60px;
    top: 0px;
  }

  .btn-edit-28 {
    right: 20px;
    top: 0px;
  }

  .client-list-item:hover {
    .btn-delete-28 {
      opacity: 1;
    }

    .btn-edit-28 {
      opacity: 1;
    }
  }
}

.form-control:invalid {

}

.client-info {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .client-avatar {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: center;
    margin: 0 auto;
    background-image: url("/assets/images/icon/user.svg");
  }

  .col-md-10 {
    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      font-family: "SF-Pro-Display-Regular", sans-serif;

      h3 {
        display: inline-block;
        font-size: 20px;

        span {
          font-size: 14px;
          font-family: "SF-Pro-Display-Light", sans-serif;
        }
      }
    }

  }

  .col-md-4 {
    p {
      font-size: 14px;

      .icon {
        width: 12px;
        height: 12px;
      }
    }

    h4 {
      font-size: 16px;
      margin-left: 2rem;

    }
  }
}

.voucher-page {
  h2 {
    font-size: 18px;
  }

  .client-list-item {
    .line {
      width: 100%;
    }

    &:hover {
      .btn-delete-28 {
        opacity: 1;
      }
    }
  }

  .btn-edit-28 {
    right: 21px;
  }

  .btn-delete-28 {
    right: 72px;
    top: 9px;

    .icon {
      top: 2px;
      left: 5px;
      width: 12px !important;
      height: 16px !important;
    }
  }
}

.login_page {
  .wrap {
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 0;

    label {
      position: absolute;
      left: 64px;
      z-index: 5;
      font-family: "SF-Pro-Display-Regular", sans-serif;
      font-size: 14px;
    }

    input {
      font-family: "SF-Pro-Display-Bold", sans-serif;
      border: 0;
      box-shadow: none;
      margin-top: 10px;
      font-size: 20px;
    }

    .icon {
      margin-top: 7px;
      margin-left: 10px;
    }
  }

  .animated-label {
    label {
      font-size: 20px;
      top: 9px;
      left: 43px;
      @include transition(all, 0.3s, linear);
    }

    input {
      &:focus, &:valid {
        & ~ label {
          top: 0;
          font-size: 14px;
        }
      }
    }
  }
}

//****************** NIZOM'S STYLE END

//****************** DOSTON'S STYLE END
.back-img {
  background-image: url("/assets/images/icon/chat.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  padding-left: 50px !important;
  padding-top: 30px;

  &::placeholder {
    margin-left: 50px;
    //padding-top: 12px;
  }
}

;
.img-comment {
  height: 35%;
  border-radius: 50%;
  width: 100%;
}

.send-button {
  background-color: #ED2939;
  color: white;
  padding: 8px 25px !important;
  margin-right: 15px;

  &:hover {
    color: white;
  }
}

.article-card {
  height: 100% !important;
}

.events {

  .event-card-process {

    .col-md-12 .card-list {
      box-shadow: 0px 30px 35px rgba(212, 205, 205, 0.55);
    }

  }

  margin-top: 70px;

  .card-list {
    width: 100%;

    .card-price {
      h1 {
        font-size: 40px !important;
      }

      .rate {
        p {
          font-size: 10px;
          margin-top: -17px;
        }
      }

    }

  }

  .about-event, .about-spiker, .commet {
    margin-top: 78px;
    font-size: 20px;
    font-family: "SF-Pro-Display-Bold", sans-serif;
  }

  .height {
    padding-top: 70px;
  }

  .opasity-p {
    font-size: 10px;
    opacity: 0.5;

    .dv-star-rating {
      vertical-align: -webkit-baseline-middle;
      position: relative;
      font-size: 17px;
      margin-left: 10px;
    }
  }

  .col-md-11 {
    > .dv-star-rating {
      font-size: 25px;
    }
  }

  .ovoz {
    padding-bottom: 0;
    margin-top: -20px;
  }

  textarea {
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 46px;
    padding-top: 15px;
    background-image: url("../public/assets/images/Vector.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    width: 100%;
  }

  .four {
    font-size: 60px;
    font-family: "SF-Pro-Display-Bold", sans-serif;
  }

  .text-one {
    font-size: 16px;
    margin: 0 auto;
  }

  .about-spiker {
    margin-top: 40px;
  }

  .commet {
    margin-top: 80px;
  }

  .col-md-12 {
    > .dv-star-rating {
      font-size: 30px;
      margin-top: 10px;
      vertical-align: -webkit-baseline-middle;

      .dv-star-rating-star {
        margin-right: 15px;
      }
    }

    > span {
      vertical-align: -webkit-baseline-middle;
    }
  }

  .green-line, .blue-line, .yellow-line, .red-line, .danger-line {
    width: 188px;
    border: 5px solid #1DD1A1;
    border-radius: 6px;
  }

  .blue-line {
    width: 347px;
  }

  .yellow-line {
    width: 123px;
  }

  .red-line {
    width: 22px;
  }

  .danger-line {
    width: 5px;
  }

  .girls-image {
    border-radius: 50%;
  }

  .girls-name {
    font-family: "SF-Pro-Display-Bold", sans-serif;
    font-size: 16px;
    margin-bottom: 0;
  }

  .progress {
    height: 5px;
    border-radius: 6px;
    width: 100%;
    background-color: white;

    .progress-bar {
      background-color: #1dd1a1;
      border-radius: 5px;
    }

  }

  .bar-two .progress-bar {
    background-color: $blue;
  }

  .bar-three .progress-bar {
    background-color: $orange;
  }

  .bar-four .progress-bar {
    background-color: $red;
  }

  .bar-five .progress-bar {
    background-color: #F4144A;;
  }

}

//*******************events begin style***************************
.bold-span {
  font-size: 28px;
  font-family: "SF-Pro-Display-Bold", sans-serif;
}

.events-price {
  font-size: 16px;
}

.black-count {
  font-size: 28px !important;
  font-family: "SF-Pro-Display-Bold", sans-serif;
}

.count-grey, .count-green {
  font-size: 28px !important;
  font-family: "SF-Pro-Display-Bold", sans-serif;
  color: grey !important;
}

.count-green {
  color: #1DD1A1 !important;
}

.event-card {
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 30px 35px rgba(212, 205, 205, 0.55);

    .card-body, .card-footer {
      border-left: 2px solid red;
      border-right: 2px solid red;
    }

    .red-row {
      display: block;
      transition: all 0.4s linear;
      bottom: 0px;
      opacity: 1;
    }
  }

  .red-row {
    background-color: #ED2939;
    margin-top: 20px;
    color: white !important;
    transition: all 0.4s linear;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -90px;

    .buse-event {
      color: white !important;
    }

    .col-5-icon-right {
      float: right;
      margin-top: 11px;
      background-color: white;

    }
  }
}

.no-hover {
  .star-size {
    font-size: 12px;
  }

  &:hover {
    .no-border {
      border: none !important;
    }
  }

  .no-padding {
    button {
      margin-left: 25px;
      margin-top: 16px;
      padding: 4px 15px !important;

    }
  }
}

.event-page {
  .icon-row {
    position: relative;
  }

  .w-40 {
    border-top: unset !important;
    border-bottom: unset !important;
  }

  .w-30 {
    border-top: unset !important;
    border-bottom: unset !important;
    border-right: unset !important;

  }

  .card {
    overflow: unset;
    position: relative;

    .btn-plus-46 {
      position: absolute;
      top: 40%;
      right: -20px;
      padding: 0;
    }

    .btn-event-status-edit {
      position: absolute;
      top: 65%;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 7px solid #F4F3F3;
      right: -20px;
      padding: 0;
      opacity: 0;
    }

    &:hover .btn-plus-46 {
      opacity: 1;

      &:hover {
        background-color: #28c750;
      }
    }

    &:hover .btn-event-status-edit {
      opacity: 1 !important;

      &:hover {
        background-color: #ffd111;
      }
    }
  }

  .tadbirlar {
    font-family: "SF-Pro-Display-Bold", sans-serif;
    margin-top: 70px;
    font-size: 24px;
  }

  .price-sum {
    font-size: 26px;
    margin-bottom: 0;

    span {
      font-size: 20px;
      font-family: "SF-Pro-Display-Light", sans-serif;
    }

    .eyes-img {
      margin-top: -5px;
    }

  }

  .all-sum {
    font-size: 14px;
    margin-left: 22px;
  }
}

.empty-event {
  @include transition(all, 0.4s, linear);

  &:hover {
    cursor: pointer;
  }

  .now-event {
    font-size: 24px;
    font-family: "SF-Pro-Display-Bold", sans-serif;
    margin-top: 90px;
    text-align: center;
  }

  .col-md-12 {
    @include shadow(0, 2px, 2px, rgba(0, 0, 0, 0.12));
    @include transition(all, 0.4s, linear);

    &:hover {
      @include shadow(0, 15px, 30px, rgba(170, 162, 162, 0.5));
    }

    background-color: white;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
  }
}

.add-events {
  .speaker_form {
    .label-for-img {
      display: block;
    }

    .recommend {
      font-size: 16px;
      line-height: 19px;
    }

    .image-upload {

      .upload-box {
        padding-top: 125px;
        padding-bottom: 118px;

        .upload-button {
          padding: 10px;
          background: #c4c4c44d;
          /* opacity: 0.2; */
          border: 4px #c4c4c44d !important;
          border-radius: 4px;
        }

      }

      //background-color: #EBEBEB;
      border: dashed 1px;
      border-radius: 5px;

      .eventImgForm {

        background: #C4C4C4;
        opacity: 0.5;
        border-radius: 4px;

        .eventImgName {
          position: absolute;
        }
      }

      .icon {
        margin-right: 5px;
        width: 21px;
        height: 21px;
        background-color: black;
      }

      .upload {
        cursor: pointer;
        position: absolute;
        top: 213px;
        left: 20px;
        width: 255px;
        height: 61px;
        border-radius: 45px;
        background-color: #d9d9d9;

        .icon {
          top: -19px;
          left: 112px;
          width: 35px;
          background-color: #808080;
        }
      }
    }

    .add_button {
      padding-bottom: 8px;
      padding-top: 7px;
      padding-left: 40px;
      padding-right: 45px;
      font: {
        size: 28px;
        family: SF-Pro-Display-Bold;
      };
    }

    .input_block {
      width: 639px;
      height: 60px;
    }

    input {
      box-shadow: none;
      height: auto;
      font-size: 22px;
      font-family: "SF-Pro-Display-Regular", sans-serif;
      color: #444444;
    }

    textarea {
      line-height: 1.3;
      font-family: "SF-Pro-Display-Regular", sans-serif;
    }

    button {
      background-color: $green;
      font: {
        size: 20px;
        family: SF-Pro-Display-Regular;

      };
      color: white;
    }

    .form-control {
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }

    form {
      width: 100%;
    }

    .form-group {
      margin-bottom: 0;
    }

  }
}

//*******************events end style***************************

//****************** DOSTON'S STYLE END

//=====================SHAXZOD POST PAGE START
.post-page {
  .btn-edit-28 {
    top: unset !important;
    right: unset !important;

  }

  .card {
    box-shadow: unset !important;
  }

  .client-list-item {
    img {
      border-radius: 2.5px;
    }
  }

  .client-list-item:hover .btn-delete-28 {
    opacity: 1 !important;
  }
}

//=====================SHAXZOD POST PAGE FINISH

//=========================NURLAN EVENT CLIENT PAGE START=========
.event_client_page1 {
  margin-top: 5rem;

  p {
    font-size: 14px;
    font-family: "SF-Pro-Display-Regular", sans-serif;
  }

  .col-md-4 {
    .card {
      transition: 0.3s all linear;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        .add-expense {
          opacity: 1;
        }
      }


      height: 100%;
      overflow: unset;

      .add-expense {
        @include transition(all, 0.3s, linear);
        opacity: 0;
        width: 32px;
        height: 32px;
        background-color: $green;
        border: 5px solid #F4F3F3;
        border-radius: 50%;
        background-image: url("/assets/images/icon/plus.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: -15px;
        top: 35%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    h3 {
      text-align: center;
      font-size: 25px;
      font-family: "SF-Pro-Display-Heavy", sans-serif;

      span {
        text-align: left;
        font-size: 10px;
        font-family: "SF-Pro-Display-Light", sans-serif;
        width: 50px;
        float: right;
        margin-top: 8px;

        &.guest {
          margin-top: 19px;
        }
      }
    }

    .col-md-8 {
      .btn-group {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.109293);
        border-radius: 16px;

        .btn.btn-secondary {
          background-color: #fff;
          padding: 3px 9px;
          border: 1px solid #ffffff;
          color: #000000;
          font-size: 12px;

          &:nth-child(3) {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
          }

          &:nth-child(1) {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
          }

          &:focus, &:hover {
            box-shadow: none;
            background: #F9F9F9;
            border: 1px solid #F6F6F6;
          }

          &.active-btn {
            background: #F9F9F9;
            border: 1px solid #F6F6F6;
          }
        }
      }
    }

    h2 {
      text-align: center;
      font-size: 26px;
      font-family: "SF-Pro-Display-Heavy", sans-serif;

      span {
        font-family: "SF-Pro-Display-Light", sans-serif;
        font-size: 20px;
        color: #000000;
      }

      margin-bottom: 0;
      margin-top: 0.25rem;
    }

    h1 {
      font-size: 40px;
      font-family: "SF-Pro-Display-Heavy", sans-serif;
      color: #2F2F2F !important;
      opacity: 0.5;

      span {
        font-family: "SF-Pro-Display-Light", sans-serif;
      }
    }

    .col-md-6 {
      p {
        position: relative;

        .payment {
          width: 4px;
          border-radius: 6px;
          height: 14px;
          position: absolute;
          left: -10px;
          top: 3px;

          &.payment-cash {
            background-color: #0085FF;
          }

          &.payment-card {
            background-color: #E9E011;
          }

          &.payment-transfer {
            background-color: #D0021B;
          }

          &.payment-payme {
            background-color: #12E7DA;
          }
          &.payment-payme-husan {
            background-color: #c676c1;
          }
        }
      }

      h4 {
        font-size: 16px;
        font-family: "SF-Pro-Display-Heavy", sans-serif;

        span {
          font-family: "SF-Pro-Display-Light", sans-serif;
          font-size: 12px;
        }
      }

      h5 {
        font-family: "SF-Pro-Display-Regular", sans-serif;
        font-size: 10px;

        span {
          color: #20DF8F;
        }
      }
    }

    .green-number {
      color: #20DF8F !important;
    }

    .red-number {
      color: $red !important;
    }
  }
}

.event_client_page2 {
  margin-top: 4rem;

  .active {
    background-color: #ffffff !important;
  }

  .active-tab {
    background-color: #ffffff;
  }

  .tab-pane {
    padding-bottom: 10rem !important;
  }

  .set-list {
    margin-left: 5rem !important;
    margin-right: 3rem !important;

    .set-name {
      margin-top: 10px;
      color: #ffffff;
      width: 70px;
      margin-right: 20px;
      padding-top: 0;
      text-align: center;
      height: 60px;
      font-size: 24px;
      font-family: "SF-Pro-Display-Regular", sans-serif;
      border-radius: 6px;
    }
  }

  .set-list {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
  }

  .set-list::-webkit-scrollbar-track {
    height: 3px;
    background-color: #fff;
  }

  .set-list::-webkit-scrollbar {
    height: 6px;
    width: 3px;
    background-color: #fff;
  }

  .set-list::-webkit-scrollbar-thumb {
    background-color: $green;
    border: 2px solid $green;
  }

  span {
    font-size: 16px;
    color: #000;
    font-family: "SF-Pro-Display-Regular", sans-serif;

    .circle {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 2rem;

      &.circle-booked {
        background-color: #C4C4C4;
      }

      &.circle-empty {
        background-color: #1DD1A1;
      }

      &.circle-sold {
        background-color: #D0021B;
      }

      &.circle-partly_paid {
        background-color: #5f5789;
      }

      &.circle-VIP {
        background-color: #E9E011;
      }

      &.circle-reserved {
        background-color: #000000;
      }

    }
  }

  .register-empty {
    position: relative;

    &:hover {
      .reg-empty-btn {
        opacity: 1;
      }

      .reg-booked-btn {
        opacity: 1;
      }

      .reg-delete-btn {
        opacity: 1;
      }
    }

    input.set-name:hover + .register-user {
      opacity: 1;
    }

    input[readonly]:focus, input {
      outline: none;
      cursor: default;
    }

    .register-user {
      position: absolute;
      z-index: 99999;
      left: 50%;
      top: 102%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 5px 10px rgba(80, 80, 80, 0.8);
      min-width: 150px;
      padding: 0.3rem 0;
      text-align: center;
      opacity: 0;
      transition: opacity 0.4s ease;
      pointer-events: none;

      &::after {
        content: '';
        border: 10px solid transparent;
        border-bottom-color: #ffffff;
        z-index: 9999;
        position: absolute;
        top: -20px;
        left: 45%;
        transform: translateX(-50%);
      }
    }

    .reg-empty-btn {
      transition: 0.3s all linear;
      opacity: 0;
      cursor: pointer;
      content: '';
      display: block;
      position: absolute;
      right: 2px;
      top: 25px;
      width: 28px;
      height: 28px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      background-color: #20DF8F;
      background-image: url("/assets/images/icon/plus.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    .reg-delete-btn {
      transition: 0.3s all linear;
      opacity: 0;
      cursor: pointer;
      content: '';
      display: block;
      position: absolute;
      right: 2px;
      top: 25px;
      width: 28px;
      height: 28px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      background-color: #20DF8F;
      background-image: url("/assets/images/icon/delete.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    .reg-booked-btn {
      transition: 0.3s all linear;
      opacity: 0;
      cursor: pointer;
      content: '';
      display: block;
      position: absolute;
      left: -13px;
      top: 25px;
      width: 28px;
      height: 28px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      background-color: #D0021B;
      background-image: url("/assets/images/icon/delete.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .icon-refresher {
    width: 25px;
    height: 25px;
  }

  input {
    border: none;
    color: #898989;

    &::placeholder {
      color: #aaaaaa;
      font-style: italic;
    }

    &:focus {
      background-color: #eee;
      box-shadow: none;
    }

    font-family: "SF-Pro-Display-Light", sans-serif;
    font-size: 18px;
    background-color: #eee;
  }

  .input-group-prepend {
    padding-left: 8px;
    border-radius: 4px;
    display: block;
    background-color: #eee;

    .icon {
      width: 25px;
      height: 25px;
      vertical-align: -webkit-baseline-middle;
      margin-top: 0;
    }
  }

  .col-md-2 {
    button {
      &:focus {
        box-shadow: none;
      }

      background-color: #20DF8F;
      color: #fff;
      font-size: 16px;
      font-family: "SF-Pro-Display-Regular", sans-serif;

      img {
        margin-right: 9px;
        vertical-align: sub;
      }
    }
  }

  .user-avatar {
    width: 50px;
    height: 50px;
    background-image: url("/assets/images/avatar.png");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border: 2px solid #eee;
  }

  .balance {
    width: 50px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    bottom: -19px;

    &.balance-primary {
      background-color: #0085FF;
    }

    &.balance-danger {
      background-color: #D0021B;
    }

    &.balance-success {
      background-color: #12E7DA;
    }
  }

  .user-info {
    border-radius: 6px;
    position: relative;
    transition: 0.3s all linear;

    &:hover {
      box-shadow: 0px 20px 45px rgba(81, 75, 75, 0.2);

      .edit-info {
        opacity: 1;
      }

      .line {
        opacity: 0;
      }
    }

    .line {
      opacity: 0.07;
      border-top: 1px solid #000000;
      width: 92%;
      margin-top: 0;
      margin-left: auto;
    }

    .edit-info {
      transition: 0.3s all linear;
      position: absolute;
      right: -17px;
      top: 25px;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      }

      opacity: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #20DF8F;
      background-image: url("/assets/images/icon/plus.svg");
      background-position: center;
      border: 5px solid #F6F6F6;
      background-size: 90%;
    }
  }

  h3 {
    position: relative;
    font-size: 20px;
    font-family: "SF-Pro-Display-Bold", sans-serif;

    span {
      font-family: "SF-Pro-Display-Regular", sans-serif;
    }
  }

  p {
    margin-bottom: 12px;
    color: #000;
    font-size: 17px;
    font-family: "SF-Pro-Display-Regular", sans-serif;
  }
}

.event-card:hover {
  box-shadow: 0px 30px 35px rgba(212, 205, 205, 0.55);
  border-color: transparent !important;
}

.event-card:hover .w-40 {
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;

}

.event-card:hover .w-30 {
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;

}

//=========================NURLAN EVENT CLIENT PAGE FINSH=========

//=========================SIROJIDDIN PLACE TEMPLATE PAGE START=========

.set-name {
  width: 50px;
  //margin-right: 20px;
  background-color: #898989;
  padding-top: 0;
  color: #2F2F2F;
  text-align: center;
  height: 40px;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  border-radius: 6px;
}

.add-button {
  width: 70px;
  height: 60px;
  background-color: #20DF8F;
  border-radius: 6px;
  box-shadow: none;
}

.add-buttonn {
  width: 70px;
  height: 60px;
  background-color: #007bff;
  border-radius: 6px;
  box-shadow: none;
}

.qator-qoshish {
  background-color: #007bff !important;
}

//=========================SIROJIDDIN PLACE TEMPLATE PAGE FINISH=========
//=========================SIROJIDDIN EVENT CLIENT MODAL START=========

.event-client-modal {
  max-width: 70% !important;

  .post-image {
    width: 100%;
    border: 2px dashed #eeeeee;
    height: 200px;
    border-radius: 6px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    label {
      width: 55%;

      border-radius: 4px;
      display: block;
      margin: 5rem auto;
      color: #000;
      background-color: #c4c4c4;

      img {
        width: 16px;
      }

      text-align: center;
      padding: 9px 15px;
    }
  }

  textarea {
    border: none;
    box-shadow: none;
    padding-left: 0;

    &:focus {
      box-shadow: none;
    }
  }

  h5 {
    font-size: 12px;
    font-family: "SF-Pro-Display-Regular", sans-serif;
  }

  margin-top: 3rem !important;

  //input {
  //  border: none;
  //  color: #898989;
  //
  //  &::placeholder {
  //    color: #aaaaaa;
  //    font-style: italic;
  //  }
  //
  //  &:focus {
  //    background-color: #eee;
  //    box-shadow: none;
  //  }
  //
  //  font-family: "SF-Pro-Display-Light", sans-serif;
  //  font-size: 18px;
  //  background-color: #eee;
  //}

  .input-group-prepend {
    padding-left: 8px;
    border-radius: 4px;
    display: block;
    background-color: #eee;

    .icon {
      width: 25px;
      height: 25px;
      vertical-align: -webkit-baseline-middle;
      margin-top: 0;
    }
  }

  .modal-content {
    .modal-body {
      .react-datepicker-wrapper {
        display: block;
      }

      Input:focus {
        box-shadow: none !important;
      }

      Input:active {
        box-shadow: none !important;
      }

      .clearButton {
        font-size: 22px;
        width: 40px;
        font-weight: bold;
        border: 1px solid #ced4da !important;
        background: none !important;
      }

      button {
        font-size: 16px;
      }

      .btn-success {
        background-color: $green;
        border: none;

      }

      //.form-group{
      //  border-radius: 4px;
      //  border: 1px solid #eee;
      //  padding-bottom: 3px;
      //  padding-left: 17px;
      //  //label{
      //  //  margin-bottom: 0;
      //  //  font-size: 12px;
      //  //  color: #aaaaaa;
      //  //  font-family: "SF-Pro-Display-Regular", sans-serif;
      //  //}
      //  //input, select{
      //  //  font-family: "SF-Pro-Display-Regular", sans-serif;
      //  //  font-size: 16px;
      //  //  color: #444;
      //  //  border: none;
      //  //  padding-bottom: 0;
      //  //  box-shadow: none;
      //  //  height: auto;
      //  //  padding-left: 0;
      //  //  padding-top: 0;
      //  //  background-color: #fff;
      //  //}
      //  //select{
      //  //  padding-top: 3px;
      //  //  padding-bottom: 3px;
      //  //}
      //}
      h3 {
        font-size: 24px;
        font-family: "SF-Pro-Display-Bold", sans-serif;
      }

      p {
        margin-top: 3rem;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }

        font-size: 18px;
        color: #1DD1A1;
        font-family: "SF-Pro-Display-Regular", sans-serif;
      }

      padding-bottom: 6rem;

      .user-avatar {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        //background-image: url("/assets/images/image.png");
        background-size: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .card {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #eeeeee;

        input {
          font-size: 3px;
        }

        transition: 0.3s background-color linear;

        &:hover {
          border-radius: 10px;
          border-bottom: none;
          background-color: #eee;
        }

        .col-md-2, .col-md-3 {
          font-size: 14px;
          color: #2f2f2f;
          font-family: "SF-Pro-Display-Regular", sans-serif;
        }
      }
    }
  }
}

//=========================SIROJIDDIN EVENT CLIENT MODAL FINISH=========

//==============================FOOTER STYLE START=================================

.mf-footer {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  bottom: 0;

  .navbar {
    .nav-link {
      color: black !important;
    }

    .nav-footer {
      padding-left: 40px;
    }

    .nav-footer {
      padding-right: 10px;
      padding-left: 10px;
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .tel {
    color: $black !important;
  }
}

//==============================FOOTER STYLE FINISH================================
//==============================Alisher Style Start================================
.inputKorinishi {
  width: 0 !important;
  @include transition(all, 0.4s, linear);
}

.inputQidirish {
  width: 200px !important;
}

.client-search {
  background-color: #E5E5E5 !important;

  &::placeholder {
    background-color: #E5E5E5 !important;
  }

}

//==============================Alisher Style Finish================================

//==============================Sirojiddin client page start================================

.income-outcome {
  .active-tab {
    background-color: #ffffff;
  }

}

//==============================Sirojiddin client page finish================================

.payer-section {
  .img-payment-man {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .text-p {
    font-size: 23px;
    font-weight: 600;
  }

  .client-avatar {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: center;
    margin: 0 auto;
    background-image: url("/assets/images/icon/user.svg");
  }

  .man-card {

    box-shadow: 0 20px 25px -5px rgba(40, 61, 44, 0.1), 0 10px 20px -10px #313634;
    background-color: #616161;
    border-radius: 10px;

    h4 {
      color: #bdbdbd !important;
    }
  }
}

.payment-info .text-center {
  font-weight: 600;
  font-size: 18px;
}

.fee-info p {
  font-weight: 600;
  font-size: 18px;
}
